@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    background-color: indigo;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px, 4px, 5px, rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

/*establece el estilo para los elementos con la clase "box" 
que son pares (es decir, que aparecen en la segunda, cuarta, 
sexta, etc. posición). Establece la posición de la caja utilizando 
transformación para mover la caja fuera de la pantalla hacia la izquierda.*/

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

/*establece el estilo para las cajas que tienen la clase "show". 
Establece la posición de la caja utilizando transformación para 
mover la caja al centro de la pantalla.*/
.box.show {
    transform: translateX(0);
  }
  
  /*Tamaño de letra de 55 pixeles*/
  .box h2 {
    font-size: 45px;
  }